.outerNavbar{
    display: flex;
    justify-content: center;
    position: relative;
    height: 75px;
}

.innerNavbar{
    margin-top: 20px;
   position: absolute;
   width: 1280px;
   height: 100%;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pageButtons{
    margin-left:50px;
    display: flex;
    flex-direction: row;
}
.pageButtons > img{
    width: 12.01px;
    height: 12.02px;
    margin-left: 4px;
    margin-top: 5px;
}
.pageButtons > p{
    margin-left: 80px;
}

.logo{
    display: flex;
    flex-wrap: wrap;
}

.rightContent{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.login{
    display: flex;
    flex-direction: row;
    width: 100px;

}
.login > img{
    width: 12.01px;
    height: 12.02px;
    margin-left: 4px;
    margin-top: 5px;
}

.registerButton{
    background-color: #61C554;
    padding: 8px 32px 8px 32px;
    border-radius: 5px;
    color: white;
    border: none;

}